$font-family: "Arial";

$color-yellow: #FFFBC7;
$color-blue: #91E3F9;
$color-bluewhite: #EFFBFF;
$color-gray: #D0D0D0;
$color-green: #9AE298;
$color-orange: #FFD718;
$color-white: #FFFFFF;

$lg: 1024px;
$md: 720px;
$sm: 576px;
$xs: 320px;

$gap: 15px;

  
  
